.color1 {
    background-color: rgb(94, 21, 122);
}

.color2 {
    background-color: rgb(33, 189, 33);
}

.color3 {
    background-color: rgb(58, 192, 216);
}

.color4 {
    background-color: rgb(190, 190, 29);
}

.color5 {
    background-color: rgb(199, 46, 69);
}
